<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>学生考勤页面</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/js/echars.min.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">
            <a href="javascript:;" onclick="openRight('/myEcharts')" style="color: white;">主页</a>
        </div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
                    <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
                    我
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="/manager/myself">个人主页</a></dd>
                    <dd><a href="/manager/settings">设置</a></dd>
                    <dd><a href="/login.html">退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>
                <a href="javascript:;">
                    <i class="layui-icon layui-icon-more-vertical"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;" onclick="openRight('/myAttendance')">我的考勤信息</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" id="main">
        <div id="echars_main" style="width: 800px;height:500px;margin-left: 200px;margin-top: 20px"></div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        这是一个考勤系统！
    </div>
</div>
<script src="/layui/layui.js"></script>
<script src="/layui/jquery-2.2.4.min.js"></script>
<script>
    function openRight(url) {
        $("#main").load(url);
    }
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('echars_main'));

    myChart.setOption({
        title: {text: "每月缺勤数统计"},
        tooltip: {},
        legend: {data: ["出勤数"]},
        xAxis: {
            data: ['1月' , '2月' , '3月' , '4月' , '5月', '6月' , '7月' , '8月' , '9月' , '10月' , '11月' ,'12月']
        },
        yAxis: {},
        series: [{
            name: '出勤',
            type: 'line',
            data: []
        }]
    });

    $.ajax({
        url: "/attendance/getMyAttendanceDate",
        success:function(ret){
            console.log(ret)
            myChart.setOption({
                series: [{
                    name: '缺勤数',
                    type: 'line',
                    data: ret.data
                }]
            })
        }
    });
</script>
</body>
</html>