<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjj.attendance.mapper.AttendanceMapper">

    <select id="queryAttendance" resultType="Attendance">
        select atd_id atdId , absence_date absenceDate , lesson , lesson_name lessonName , stu_name stuName , absence_type absenceType
        from attendance
    </select>

    <select id="searchAttendance" resultType="Attendance">
        select atd_id atdId , absence_date absenceDate , lesson , lesson_name lessonName , stu_name stuName , absence_type absenceType
        from attendance
        where stu_name like concat('%' , #{stuName} , '%')
    </select>

    <delete id="deleteAttendance" >
        delete from attendance
        where atd_id in
        <foreach collection="array" item="ids" separator="," open="(" close=")" index="no">
            #{ids}
        </foreach>
    </delete>


    <insert id="addAttendance">
        insert into attendance(absence_date , lesson , lesson_name , stu_name , absence_type)
        values
        (#{attendance.absenceDate} , #{attendance.lesson} , #{attendance.lessonName} , #{attendance.stuName} , #{attendance.absenceType})
    </insert>

    <select id="queryAtdId" resultType="Integer">
        select max(atd_id) from attendance
    </select>

    <update id="updateAttendance">
        update attendance
        <trim prefix="set" suffixOverrides=",">
            <if test="attendance.absenceDate != null">absence_date=#{attendance.absenceDate},</if>
            <if test="attendance.lesson != null">lesson=#{attendance.lesson},</if>
            <if test="attendance.lessonName != null">lesson_name=#{attendance.lessonName},</if>
            <if test="attendance.stuName != null">stu_name=#{attendance.stuName},</if>
            <if test="attendance.absenceType != null">absence_type=#{attendance.absenceType}</if>
        </trim>
        where atd_id=#{attendance.atdId}
    </update>

</mapper>